<% provide(:title, @book.name) %>
<div class="row">
  <%= render "shared/error_messages" , object: @book%>
  <aside class="col-md-4">
    <span class="image">
      <%= image_tag @book.image if @book.image.attached? %>
      <div class="card-img-top show">
        <%= image_tag("image_195509_1_12629.jpg", size: "150x150",
          :alt => t("book.index_attr.no_images")) %>
      </div>
    </span>
  </aside>
  <div class="col-md-8">
    <div>
      <p><%= t("activerecord.attributes.book.author_id") %> :
        <%= link_to @book.author.full_name, @book.author %></p>
      <p><%= show_category_name @book %></p>
      <% show_attribute.keys.each do |key| %>
        <p><%= show_attribute[key] %> : <%= show_value(@book)[key] %></p>
      <% end %>
    </div>
    <div>
      <%= form_tag(new_book_request_borrow_book_path(@book.id) ,
        method: :get) do%>
        <%= submit_tag t("book.index_attr.borrow") %>
        <%= text_field_tag :locale, params[:locale], hidden: :true %>
      <% end if logged_in? && @book.quantity > 0%>
    </div>
  </div>
</div>
